:root {
    --interface-size: 1;
    --obs-background: #3a393a;
}

*:focus {
    outline: none !important;
}

.panel {
    background: var(--obs-background);
    color: var(--main-color);
    font: normal 12px -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
        "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    max-width: 100%;
    /*transform: scale(var(--interface-size));
    transform-origin: top;*/
    margin: 8px 3px 30px;
    user-select: none;
    overflow-x: hidden;

}

.container{
    width: 95%;
    margin: 5px;
    display: flex;
    flex-direction: column;
}

.input-container{
    display: flex;
    margin-top: 5px;
}

input[type=text]{
    box-sizing: border-box;
    padding: .4em;
    margin: 0 0 5px;
    border: var(--obs-field-border);
    display: block;
    width: 85%;
    height: 23px;
    border-radius: var(--element-radius);
    background: var(--obs-field-background);
    color: #d2d2d2;
    font-size: .9em;
}

select {
    padding: 0.4em;
    width: 85%;
    font-size: .9em;
    border: var(--obs-field-border);
    border-radius: var(--element-radius);
    height: 23px;
    margin: 0 0 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23D2D2D2' d='M127 192h257c18 0 27 22 14 34L270 355c-8 8-20 8-28 0L113 226C101 214 110 192 127 192z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 9px;
    background-position: right 5px center;
    cursor: pointer;
    background-color: var(--obs-field-background);
    color: #d2d2d2;
}

option{
    font-size: .9em;
    padding: 0;
    margin: 0;
}

p{
    width:85%;
    margin: 0;
    margin-left: calc( 15% + 5px);
    padding: .4em;
}

input[type=button]{
    cursor: pointer;
    width: 85%;
    height: 26px;
    padding: 0px!important;
    margin: 0px!important;
    border-radius: 3px 3px 0 0;
    font: unset;
    color: var(--main-color);
    background: var(--obs-tab-background);
    border: 1px solid var(--obs-tab-border);
    border-bottom: none;
}

label{
    display: block;
    text-align:right;
    width:15%;
    margin:0;
    padding: 2px;
    font-size: 1em;
    padding-right:10px;

}


.panel::-webkit-scrollbar, .panel textarea::-webkit-scrollbar {
    width: var(--obs-scrollbar-thickness);
  }
  .panel::-webkit-scrollbar-thumb, .panel textarea::-webkit-scrollbar-thumb {
      border-radius: var(--obs-scrollbar-radius);
    border: solid 0px var(--obs-background);
    background-color: var(--obs-scrollbar-color);
    margin: 3px 0;
    padding: 3px 0;
  }
  .panel::-webkit-scrollbar-button, .panel textarea::-webkit-scrollbar-button {
    height: 3px;
    display: inline-block;
  }
